header {
    display: flex;
    justify-content: space-between;
    padding: 2vw 4.2vw;
    height: 10vw;
    align-items: center;
}

header h1{
    font-size:6vw;
    font-weight:bold;
    display:inline-block;
} 

header ul{
    display: flex;
    gap:4vw;
    height:100%
}

header a {
    display: block;
    width: 5vw;
    height: 5vw;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    text-indent: -1000px;
    overflow: hidden;
}

header .search a {
    background-image: url(../images/search.png);
}

header .add-friend a {
    background-image: url(../images/add-friend.png);
}

header .settings a {
    background-image: url(../images/settings.png);
}